header {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.itensheader {
    display: flex;
    margin-left: 20px;     
}

.item {
    margin-right: 30px;
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
}

.item a, p:hover {
    font-size: 20px;
    text-underline-position: inherit;
    

}


.logo {
    color: yellow;
    border: 1px solid yellow;
    padding: 10px 20px;
}




